@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-color: #1d2a32;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  margin: 0;
}
.gameboard {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 600px;
}
.gameboard__tile {
  background-color: #24353f;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 800;
}
.gameboard__x {
  color: #63c4bc;
  font-size: 12rem;
}
.gameboard__o {
  color: #e4bb60;
  font-size: 14rem;
}
.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  height: 500px;
  background-color: #24353f;
}
.players__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.players__play-input {
  width: 50%;
  border: 0;
  outline: none;
}
.players__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  gap: 3rem;
}
.players__play-icon {
  width: 50px;
}
