@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --width: min(500px, 100%);
  --grid-gap: 3rem;
  --shadow: 0px 4px 5px #000;
  --x-color: #63c4bc;
  --o-color: #e4bb60;
}
* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html {
  font-size: 10px;
}
body {
  background-color: #1d2a32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 2rem;
  margin: 0;
  font-family: Montserrat;
  font-weight: 600;
}
.game-info {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  width: var(--width);
  gap: var(--grid-gap);
}
.game-info__symbols {
  font-weight: 800;
  font-size: 3.5rem;
}
.symbols--x {
  color: var(--x-color);
  font-weight: 800;
}
.symbols--o {
  color: var(--o-color);
  font-weight: 800;
}
.game-info__turn-container {
  background-color: #24353f;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  gap: 1rem;
  font-size: 1.6rem;
  color: #abbec9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-info__turn {
  font-size: 2rem;
  font-weight: 800;
}
.game-info__restart {
  display: flex;
  justify-content: flex-end;
}
.game-info__restart-icon {
  width: 55px;
  background-color: #abbec9;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  box-shadow: 0 4px #778691;
}

.gameboard {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  width: var(--width);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.gameboard__tile {
  background-color: #24353f;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 12rem;
}
.gameboard__x {
  color: var(--x-color);
}
.gameboard__o {
  color: var(--o-color);
}
.players {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 500px;
  height: 500px;
  background-color: #24353f;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}
.players__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.players__play-input {
  width: min(300px, 100%);
  border: 1px solid transparent;
  outline: none;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  background-color: rgba(86, 125, 161, 0.5);
  font-size: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  text-align: center;
  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1; /* Firefox */
    text-align: center;
  }

  &::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgba(0, 0, 0, 0.3);
  }
}
.players__play-input--error {
  border: 1px solid rgb(136, 0, 0);
  box-shadow: 0px 4px 5px #3f1010;
}
.players__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  border: 0;
  box-shadow: var(--shadow);
  background-color: rgba(0, 255, 255, 0.5);
  font-size: 1.6rem;
}
.players__play-icon {
  width: 50px;
  fill: #0ff;
}

.game-stats {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  width: var(--width);
  gap: var(--grid-gap);
  font-size: 1.6rem;
  font-weight: 600;
  height: 8rem;
}

.game-stats__player-x {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(49, 196, 190);
  border-radius: 10px;
}

.game-stats__player-ties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(168, 190, 201);
  border-radius: 10px;
}

.game-stats__player-o {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(242, 178, 55);
  border-radius: 10px;
}
.game-stats__value {
  font-size: 2.6rem;
  font-weight: 700;
}
.win-banner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 300px;
  background-color: rgba(35, 53, 64, 0.8);
  box-shadow: 4px 4px 10px #000;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}
.win-banner__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.win-banner__button {
  border-radius: 1rem;
  border: 0;
  padding: 1.6rem;
  font-family: Montserrat;
  font-weight: 700;
  background-color: #abbec9;
  box-shadow: 0 4px #778691;
  color: #24353f;
}
.win-banner_o-win {
  background-color: var(--x-color);
  box-shadow: 0 4px #3e7873;
}
.win-banner_x-win {
  background-color: var(--o-color);
  box-shadow: 0 4px #bc8e00;
}
.win-banner__win-message {
  margin: 0rem;
  font-size: 1.5rem;
  color: #cacaca;
  font-weight: 600;
}
.win-banner__win-player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 4rem;
  font-weight: 800;
  margin: 0rem;
}
.win-banner__win-symbol {
  font-size: 10rem;
}
@media screen and (max-width: 500px) {
  body {
    margin: 2rem;
  }
  .gameboard {
    gap: 1.5rem;
  }
  .gameboard__tile {
    font-size: 7rem;
  }

  .win-banner {
    height: 200px;
  }
  .win-banner__win-player {
    gap: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem;
    /* padding: 1rem; */
  }
  .win-banner__win-symbol {
    font-size: 5rem;
  }
}
